@import "./vars";
@import "./reset";
@import "./forms";

body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background: $lg;
    margin: 0;
}
.container{
    display: flex;
    .main-block{
        flex-grow: 1;
    }
}
.btn{
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    height: 30px;
    cursor: pointer;
    width: 100px;
}
.btn-chat{
    background: #FFF8DD;
    color: $yellow;
    display: flex;
    img{
        margin-right: 5px;
    }
}
.btn-share{
    background: $lg;
    color: $dark;
    margin-right: 10px;
}
.btn-primary {
    background: #0072ff;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    height: calc(100vh - 127px);
    overflow: auto;
}
#aside.open-aside {
    left: 0 !important;
    .btn-menu {
        img {
            transform: rotate(180deg);
        }
    }
}
.direction-row {
    flex-direction: row !important;
}
@media only screen and (max-width: 1050px) {
    .tab-content {
        width: 80%;
    }
}
@media only screen and (max-width: 992px) {
    #aside {
        position: fixed;
        top: 0;
        left: -255px;
        z-index: 9;
        .btn-menu {
            display: block;
            width: 10px;
        }
    }
}
@media only screen and (max-width: 750px) {
    header {
        .top-header {
            flex-direction: column;
            .social-wrap {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
@media only screen and (max-width: 580px) {
    .tab-content {
        width: 90%;
        margin-left: 10px;
        .tab-item {
            .mess-body,
            .upload-files {
                margin: 20px 40px 0;
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    header {
        .top-header {
            .task-title-wrap {
                .task-title {
                    font-size: 25px;
                }
            }
        }
        .tabs-section {
            ul li + li {
                margin-left: 10px;
            }
        }
    }
}
@media only screen and (max-width: 390px) {
    header {
        .top-header {
            .task-title-wrap {
                .task-title {
                    font-size: 17px;
                }
            }
            .social-wrap {
                flex-direction: column;
                .users-section {
                    margin-bottom: 15px;
                    margin-right: 0;
                }
            }
        }
        .tabs-section {
            display: flex;
            justify-content: center;
            li {
                font-size: 14px;
            }
            ul li + li {
                margin-left: 7px;
            }
        }
    }
    .tab-content {
        padding: 30px 25px 90px;
        .tab-item {
            .mess-body {
                margin: 20px 20px 0;
            }
            .tab-section {
                flex-direction: column;
            }
        }
    }
}
